### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### PHPCodeSniffer ###
# CodeSniffer

/vendor/*
/wpcs/*
